:root {
  --primary: #f7f7f7;
  --secondary: #c4c4c4;
  --font: #393e46;
}

* {
  font-family: "Pixelify Sans", serif;
}

body {
  background: var(--primary);
  color: var(--font);
  margin: 24px;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

main #add-note-button {
  background: var(--secondary);
  color: var(--font);
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
}
