:root {
  --primary: #f7f7f7;
  --secondary: #c4c4c4;
  --font: #393e46;
}

* {
  font-family: "Pixelify Sans", serif;
}

body {
  background-color: var(--primary);
  color: var(--font);
  margin: 24px;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

main aside {
  display: flex;
  justify-content: space-between;
}

main aside button {
  background-color: var(--secondary);
  color: var(--font);

  margin: 10px 0px;
  padding: 10px;
}
